VITE_FIREBASE_API_KEY=AIzaSyCbSfIZ_LJ2HrLJvz-35lBSJO_uYcMKS8w
VITE_FIREBASE_AUTH_DOMAIN=lmbudgetproject.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lmbudgetproject
VITE_FIREBASE_STORAGE_BUCKET=lmbudgetproject.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=220517945531
VITE_FIREBASE_APP_ID=1:220517945531:web:9b887ca960b3685da3599e
